<mat-toolbar>
  <span>Ravi's Theater Systems</span>
  <div class = "buttons"></div>
  <a mat-button routerLink="Home">Home</a>
  <a mat-button routerLink="Annoucements">Announcements</a>
  <a mat-button routerLink="Calend">Calendar</a>
  <a mat-button routerLink="Form">Online Form</a>
  <a mat-button routerLink="contactInfo">Managment Contact Info</a>
  <a mat-button routerLink="actInfo">Information Table</a>
  <a mat-button routerLink="secPages">Secure Pages</a>
  <a mat-button routerLink="pDown">Public Downloads</a>
  <a mat-button>Sharing Section</a>
  <a mat-button>App Integration</a>
</mat-toolbar>
