.button{
  font-size: xx-large;
}

.container{
    width: 1800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myDIV {
  display: none;
}


iframe{
  display: block;
}
