<div class="container">
  <div id="b">
    <button class="button" (click)="login();">Login</button>
  </div>

</div>

<div id="myDIV">
  <style>
    table, th, td {
      border:1px solid black;
    }
    </style>

  <table class="center">
    <tr>
      <th>Role</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Play</th>
    </tr>
    <tr>
      <td>Romeo </td>
      <td>Actor 1 </td>
      <td> 647 999 5621</td>
      <td> Romeo and Juliet </td>
    </tr>
    <tr>
      <td> Juliet </td>
      <td> Actor 2 </td>
      <td> 999 555 6565</td>
      <td> Romeo and Juliet</td>
    </tr>
  </table>
</div>
